*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  overflow-y: auto;
}

div {
  position: absolute;
  user-select: none;
}

#container {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#scrollDist {
  top: 0;
  width: 100%;
  height: 400%;
}
